@import './colors.scss'; // importa variáveis scss

// 🌐 Estilos globais
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: $background;
  color: $black;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}
